* {
	box-sizing: border-box;

}

html, body {
	margin: 0;
	padding: 0;
font-family: 'Raleway', sans-serif;

}

header,footer {
	padding: 1px;
}

header, footer {
	margin-top: 0;
background-color:#c9ddff;	
;
}

.centered {

}

header .subtitle {
text-align:center;
}

h1 {
text-align:center;
text-transform: uppercase;
}

ul {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	list-style-position: inside;
}

ul li {
	width: 50%;
	padding: 0;
}

main {
	max-width: 660px;
	margin: auto;

}

section {

}

h2 {
border-bottom: 1px solid black;
}

h3 {
}

p {


}

.details {

}

.object {
color:#8bade5;
}

.object:after {
	content: " | ";
}

footer h2 {
border-bottom:0px;
}